// Variables
$title-color: #431e34;
$primary-color: #7b2b8c;
$secondary-color: #d88dbe;


$primary-background-color: #f5f5f5;
$secondary-background-color: #f1f1f1;
$tertiary-background-color: #eac3dc;

$border-color: #6c3082;
$font-family: 'raleway', sans-serif;

$header-color:#ffffff;